<div class='row'>
  <div class='col-auto'>
    <h2>Welcome!</h2>
  </div>
</div>

<div class='form-row mt-4'>
  <div class='col-md-6'>
    <label>Create an Appointment!</label>
    <form class='form'>
      <div class='form-row'>
        <div class='col-lg-7'>
          <label for='signup-date'>Date:</label>
          <input
            type='date'
            placeholder='pick a date'
            id='date'
            class='form-control my-2 p-2'
          />
          <input
            type='time'
            placeholder='pick a date'
            id='time'
            class='form-control my-2 p-2'
          />
        </div>
        <button
          id='confirm-btn'
          class='btn btn-sm btn-secondary'
          type='submit'
          data-id='{{appointments.id}}'
        >CONFIRM</button>
      </div>
      <label for='staff'>Available practicioners:</label>
      <select name='staff' id='staff'>
        {{#each staff as |staff|}}
          <a href='/staff/{{staff.id}}'>
            <option value='{{staff.id}}'>{{staff.full_name}}
              -
              {{staff.position}}</option>
          </a>
        {{/each}}
      </select>
      <label for='service'>Available procedures:</label>
      <select name='service' id='service'>
        {{#each service as |service|}}
          <a href='/service/{{service.id}}'>
            <option value='{{service.id}}'>{{service.service_type}}</option>
          </a>
        {{/each}}
      </select>
      <label for='service'>Select location:</label>
      <select name='location' id='location'>
        {{#each location as |location|}}
          <a href='/location/{{location.id}}'>
            <option value='{{location.id}}'>{{location.number}}
              {{location.street_name}},
              {{location.city}},
              {{location.state}}
              {{location.zip_code}}</option>
          </a>
        {{/each}}
      </select>
    </form>
    <label>Current Appointments:</label>
    {{#each appointments as |appointment|}}
      <div class='row mb-2 currentAppt'>
        <div class='col-md-8'>
          <h4><p href='/appointments/{{appointment.id}}'>{{format_date appointment.date}}
              -
              {{appointment.time}}
              -
              {{appointment.staff.full_name}}
              -
              {{appointment.staff.position}}
              -
              {{appointment.service.service_type}}
              <h5>
                {{appointment.location.number}}
                {{appointment.location.street_name}},
                {{appointment.location.city}},
                {{appointment.location.state}}
                {{appointment.location.zip_code}}
              </h5>
            </p></h4>
        </div>
        <div class='col-md-4'>
          <button
            class='delete-btn btn btn-sm btn-danger'
            type='submit'
            data-id='{{appointment.id}}'
          >DELETE</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src='./js/appointments.js'></script>