<div class='row'>
  <div class='col-auto'>
    <h2>Welcome!</h2>
  </div>
</div>

<div class='form-row mt-4'>
  <div class='col-md-6'>
    <label>Create an Appointment!</label>
    <form class='form'>
      <div class='form-row'>
        <div class='col-lg-7'>
          <label for='signup-date'>Date:</label>
          <input
            type='date'
            placeholder='pick a date'
            id='date'
            class='form-control my-2 p-2'
          />
          <input
            type='time'
            placeholder='pick a date'
            id='time'
            class='form-control my-2 p-2'
          />
        </div>
        <button
          id='confirm-btn'
          class='btn btn-sm btn-secondary'
          type='submit'
          data-id='{{appointments.id}}'
        >CONFIRM</button>
      </div>
    </form>
    <label>Current Appointments:</label>
    {{#each appointments as |appointments|}}
      <div class='row mb-2'>
        <div class='col-md-8'>
          <h4><a
              href='/appointments/{{appointments.id}}'
            >{{appointments.date}}{{appointments.time}}</a></h4>
        </div>
        <div class='col-md-4'>
          <button
            id='delete-btn'
            class='btn btn-sm btn-danger'
            type='submit'
            data-id='{{appointments.id}}'
          >DELETE</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src='./js/appointments.js'></script>